.registrations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
}
.description {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #475569;
}
